.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image{
    height: 230px; /* Your height here */
    overflow: hidden;
}

.card-content{
    height: 110px;
}

.card-action{
    height: 40px;
}